<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Додайте рецепт</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/styles1.css" th:href="@{/styles/styles1.css}">
</head>
<body>
    <main>
        <h1>Додайте рецепт</h1>
        <form method="post" action="#" th:action="@{/recipes/add}" th:object="${recipe}">
            <table id="recipe-head-table">
                <tr>
                    <td><label th:for="${#ids.next('name')}">Назва:</label></td>
                    <td><input type="text" th:field="*{name}"
                               placeholder="Введіть назву страви"/></td>
                    <td><span class="validationError"
                              th:if="${#fields.hasErrors('name')}"
                              th:errors="*{name}">Recipe Name Error</span></td>
                </tr>
                <tr>
                    <td><label th:for="${#ids.next('portionsNumber')}">Кількість порцій:</label></td>
                    <td><input type="number" th:field="*{portionsNumber}" value="1" min="1" max="25"
                               placeholder="Введіть число порцій"/></td>
                    <td><span class="validationError"
                              th:if="${#fields.hasErrors('portionsNumber')}"
                              th:errors="*{portionsNumber}">Portions Number Error</span></td>
                </tr>
            </table>
            <section id="ingredients-block">
                <h3>Інгредієнти</h3>
                <div class="dropdown">
                    <input id="ingredient-search" type="search" name="model"
                           autocomplete="off"
                           placeholder="Почніть вводити інгредієнт..."/>
                    <div class="dropdown-content">
                        <ul class="dropdown-results-list"></ul>
                    </div>
                </div>

                <table id="ingredients-table">
                    <tr th:each="recipeIngred, itr : *{recipeIngredients}">
                        <td>
                            <input type="hidden" th:value="${recipeIngred.ingredient.id}">
                        </td>
                        <td th:text="${recipeIngred.ingredient.name}"
                            class="ing-name-cell">Інгредієнт</td>
                        <td>
                            <input th:field="*{recipeIngredients[__${itr.index}__].quantity}"
                                   class="number-input"
                                   type="text" size="6" placeholder="Кількість">
                        </td>
                        <td>
                            <select class="ing-measure-select"
                                    th:field="*{recipeIngredients[__${itr.index}__].measure}">
                                <option th:each="meas : ${recipeIngred.ingredient.type.measures}"
                                        th:text="${meas.title}" th:value="${meas.id}">кг</option>
                            </select>
                        </td>
                        <td>
                            <input th:field="*{recipeIngredients[__${itr.index}__].note}"
                                   type="text" placeholder="Примітка">
                        </td>
                        <td>
                            <button type="button" class="remove-ingredient-btn">❌</button>
                        </td>
                    </tr>
                </table>
            </section>
            <section>
                <h3>Етапи приготування</h3>
                <table id="stages-table">
                    <tr th:each="stage, itr : *{stages}">
                        <td>
                            <textarea class="stage-input-area" th:field="*{stages[__${itr.index}__]}"
                                    placeholder="Введіть вказівки з приготування"></textarea>
                        </td>
                        <td>
                            <button type="button" class="remove-stage-btn">❌</button>
                        </td>
                    </tr>
                </table>
                <button type="button" id="add-stage-btn">Додати етап</button>
            </section>
            <section>
                <h3>Категорії страви</h3>
                <div id="tags-block">
                    <div class="tag-wrapper" th:each="tag : ${tags}">
                        <input type="checkbox" th:field="*{tags}" th:value="${tag.id}">
                        <label th:for="${#ids.prev('tags')}"
                               th:text="${tag.name}">Tag</label>
                    </div>
                </div>
            </section>
            <input type="submit" value="Надіслати рецепт">
        </form>
    </main>
    <script src="/static/scripts/scripts1.js" th:src="@{/scripts/scripts1.js}"></script>
</body>
</html>