<!DOCTYPE html>
<html lang="en" th:with="isEditMode=${#bools.isTrue(editMode)}">
<head xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title th:text="${isEditMode ? 'Редагування рецепта' : 'Додайте рецепт'}">Recipe</title>
    <link rel="stylesheet" type="text/css" href="/styles/recipe-form.css" th:href="@{/styles/recipe-form.css}">
</head>
<body>
    <main>
        <a href="#" th:href="@{/}">Повернутися на головну</a>
        <h1 th:text="${isEditMode ? 'Редагування рецепта' : 'Додайте рецепт'}">Recipe</h1>
        <form name="recipe-form" th:object="${recipe}" th:method="${isEditMode ? 'put' : 'post'}" action="#"
              th:action="@{__${isEditMode ? '/recipes/{id}/edit(id=${recipe.id})' : '/recipes/add'}__}">
            <input type="hidden" th:if="${isEditMode}" th:field="*{id}">
            <table id="recipe-head-table">
                <tr>
                    <td><label th:for="${#ids.next('name')}">Назва:</label></td>
                    <td><input type="text" th:field="*{name}" autocomplete="off" maxlength="60"
                               placeholder="Введіть назву страви" required/></td>
                </tr>
                <tr>
                    <td><label th:for="${#ids.next('portionsNumber')}">Кількість порцій:</label></td>
                    <td><input type="number" th:field="*{portionsNumber}" value="1" min="1" max="25"
                               placeholder="Введіть число порцій" required/></td>
                </tr>
            </table>
            <section id="ingredients-section">
                <h3>Інгредієнти</h3>
                <div class="dropdown">
                    <input id="ingredient-search" type="search" name="search"
                           autocomplete="off" placeholder="Почніть вводити інгредієнт..."/>
                    <div class="dropdown-content">
                        <ul class="dropdown-results-list"></ul>
                    </div>
                </div>
                <p class="warn-msg">Додайте принаймні один інгредієнт</p>

                <ul id="ingredients-list">
                    <li draggable="true" th:each="ingred, itr : *{ingredients}">
                        <div><i class="drag-indicator"></i></div>
                        <div class="ing-id-cell">
                            <input type="hidden" th:field="*{ingredients[__${itr.index}__].ingredient}">
                        </div>
                        <div class="ing-name-cell" th:text="${ingred.ingredient.name}">Ingredient</div>
                        <div>
                            <input th:field="*{ingredients[__${itr.index}__].quantity}" value="1"
                                   class="qty-input" type="text" size="6" maxlength="6" placeholder="Кількість"
                                   pattern=" *(?:[1-9]\d*|(?:0|[1-9]\d*)[\.,]\d) *" autocomplete="off" required>
                        </div>
                        <div>
                            <select class="ing-measure-select" th:field="*{ingredients[__${itr.index}__].measure}">
                                <option th:each="meas : ${ingred.ingredient.type.measures}"
                                        th:text="${meas.title}" th:value="${meas.id}">kg</option>
                            </select>
                        </div>
                        <div>
                            <input type="text" th:field="*{ingredients[__${itr.index}__].note}"
                                   placeholder="Примітка" maxlength="20" autocomplete="off">
                        </div>
                        <div>
                            <button type="button" class="remove-ingredient-btn" tabindex="-1"
                                    onclick="removeIngredientRow(this)">❌</button>
                        </div>
                    </li>
                </ul>
            </section>
            <section id="stages-section">
                <h3>Етапи приготування</h3>
                <p class="warn-msg">Додайте принаймні один етап приготування</p>
                <table id="stage-table">
                    <tbody>
                        <tr th:each="stage : *{stages}">
                            <td>
                                <textarea class="stage-input-area" th:field="*{stages[__${stageStat.index}__]}"
                                          placeholder="Введіть вказівки до приготування" required></textarea>
                            </td>
                            <td>
                                <button type="button" class="remove-stage-btn" tabindex="-1"
                                        onclick="removeStage(this)">❌</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" id="add-stage-btn">Додати етап</button>
            </section>
            <section id="tags-section">
                <h3>Категорії страви</h3>
                <p class="warn-msg">Виберіть принаймні одну категорію</p>
                <div id="tags-block">
                    <div class="tag-wrapper" th:each="tag : ${tags}">
                        <input type="checkbox" th:field="*{tags}" th:value="${tag.id}">
                        <label th:for="${#ids.prev('tags')}"
                               th:text="${tag.name}">Tag</label>
                    </div>
                </div>
            </section>
            <input type="submit" value="Надіслати рецепт">
        </form>
    </main>
    <script src="/scripts/recipe-form-script.js" th:src="@{/scripts/recipe-form-script.js}"></script>
    <script src="/scripts/recipe-form-validation.js" th:src="@{/scripts/recipe-form-validation.js}"></script>
</body>
</html>